<a href="https://colab.research.google.com/github/GitSantiagopf/DomesticViolence/blob/Analitycs/domestic_violence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Importamos librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('Reporte.csv')
df

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD
0,ATLÁNTICO,BARRANQUILLA (CT),8001000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,MASCULINO,ADULTOS,1.0
1,BOYACÁ,DUITAMA,15238000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,1.0
2,CAQUETÁ,PUERTO RICO,18592000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,MASCULINO,ADULTOS,1.0
3,CASANARE,MANÍ,85139000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,1.0
4,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,1.0
...,...,...,...,...,...,...,...,...
396822,ANTIOQUIA,ITAGUI,5360000.0,CONTUNDENTES,20/05/2020,FEMENINO,ADOLESCENTES,1.0
396823,ANTIOQUIA,ITAGUI,5360000.0,CONTUNDENTES,20/05/2020,FEMENINO,ADULTOS,1.0
396824,ANTIOQUIA,ITAGUI,5360000.0,CONTUNDENTES,20/05/2020,FEMENINO,ADULTOS,1.0
396825,ANTIOQUIA,LA CEJA,5376000.0,CONTUNDENTES,20/05/2020,FEMENINO,ADULTOS,1.0
396826,ANTIOQUIA,MEDELLÍN (,NaN,NaN,NaN,NaN,NaN,NaN